html {
  height: 100%;
  width: 100%;
  background-color: #485e9d;
} 
p{
  color: snow;
  text-align: justify;
  text-indent: 50px;
}
h1{
  color: #e9e6e2; 
  text-align: center;
}
h2{
  color: #d5cc67;
  text-align: left;
}
